@import './index.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
 font-family: "Inter", sans-serif;
}
.wrapper{
  width: 100%;
  margin: 0px 20px;
}
.container{
  max-width: $breakpoint-xl;
  margin: 0 auto;
}
ul{
  list-style: none;
}
input{
  border: none;
  outline: none;
}
button{
  border: none;
}